<div id="posts" class="main users-index">
  <div class="wrapper">
    <h1 class="users-heading">Users</h1>

    <% @users.each do |user|  %>
      <div class="users-index-item">
      <div class="user-left">
          <!-- <img>タグを用いて、プロフィール画像を表示してください-->
          <img src="<%= "/user_images/#{user.image_name}" %>">
        </div>
        <div class="user-right">

          <%= link_to(user.name,"/users/#{user.id}") %>
        </div>
      </div>

    <% end %>
  </div>
</div>
<footer>
        <div class="wrapper">
            <p><small>&copy; 2020 Miranda</small></p>
        </div>
    </footer>