

    <div id="about" class="big-bg">
      <div class="about-top wrapper">
        <h1 class="about-head">Mirandaとは？</h1>
        <div class="about-index">
          <h2 class="about1">
            日常で学んだ事を共有するコミュニケーションサービスです
          </h2>
          <div class="about-center">
          <img class="about1 image" src="about-content.png">
          <img class="about2 image" src="about-content2.png">
          <img class="about3 image" src="about-content3.png">
          <img class="about3 image" src="about-content4.png">
          <img class="about3 image" src="about-content5.png">
          <img class="about3 image" src="about-content6.png">
          <img class="about3 image" src="about-content7.png">
          <img class="about3 image" src="about-content8.png">
          <img class="about3 image" src="about-content9.png">
          </div>
          <h2 class="about2">難しいことは考えずMirandaで貴方の『学び』を共有しましょう</h2>
        </div>
      </div>
    </div>
    <footer>
      <div class="wrapper">
        <p><small>&copy; 2020 Miranda</small></p>
      </div>
    </footer>