

    <div id="top" class="big-bg">
      <div class="top-index wrapper">
        <div class="top-post">
          <h1>人の数だけ学びがあり思想がある</h1>
        </div>
        <div class="down-post">
      <h1>あなたが世界を変える</h1>
      </div>
      </div>
      
      
      </div>
    </div>

    <footer>
      <div class="wrapper">
        <p><small>&copy; 2020 Miranda</small></p>
      </div>
    </footer>
